<footer class="footer">
    <div class="container">
        <p>FOOTER</P>
        <ul class="footer-links">
            <li><a href="#">LINK1</a></li>
            <li class="muted">&middot;</li>
            <li><a href="#">Link2</a></li>
            <li class="muted">&middot;</li>
            <li><a href="#">LInk3</a></li>
        </ul>
    </div>
</footer>