</div> <!-- container -->
{include file="misc/footer.tpl"}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{$BOOTSTRAP_PATH}js/jquery.js"></script>
<script src="{$BOOTSTRAP_PATH}js/bootstrap.js"></script>
{$JS_FILES}
{$SCRIPT}
</body>
</html>
